/* Подключение шрифта Astra */
@font-face {
    font-family: 'Astra';
    src: url('../fonts/PT-Astra-Sans_Regular.ttf');
}

/* Определение основных цветов */
:root {
    --main_color: #163E6C;
    --secondary_color: #D20A11;
    --bg_color: #EBE6D6;
}

/* Стили для элемента body */
body {
    margin: 5px;
    padding: 0;
    font-family: 'Astra', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background-color: var(--bg_color);
}
