table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    border: 1px solid var(--main_color);
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-family: 'Astra', sans-serif;
}
